<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modalLabel">
          <strong>Solicitação de Saque</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <span class="title">Dados da Solicitação:</span>
          </div>
          <div class="col-md-6">
            <span class="title">Dados para Pagamento:</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Valor</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Banco</span>
          </div>
          <div class="col-md-6">
            <span>{{request.value}}</span>
          </div>
          <div class="col-md-6">
            <span>{{request.bank_id}}</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Nota Fiscal</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Agência</span>
          </div>
          <div class="col-md-6">
            <span><a href="assets/comprovantes/{{request.id}}.pdf" target="_blank">Baixar nota fiscal</a></span>
          </div>
          <div class="col-md-6">
            <span>{{request.agency}}</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Parceiro</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Conta</span>
          </div>
          <div class="col-md-6">
            <span>{{request.user_id}}</span>
          </div>
          <div class="col-md-6">
            <span>{{request.checking_account}}</span>
          </div>
          <div class="col-md-6">
            <span class="subtitle">Documento</span>
          </div>
          <div class="col-md-6">
            <span></span>
          </div>
          <div class="col-md-6">
            <span>{{request.cnpj}}</span>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <span class="subtitle">Status</span>
          </div>
          <div class="col-md-6">
            <span *ngIf="request.status_request_id == 'Negado'" class="subtitle">Motivo</span>
          </div>
          <div class="col-md-6">
            <span>{{request.status_request_id}}</span>
          </div>
          <div class="col-md-6">
            <span *ngIf="request.status_request_id == 'Negado'">{{request.reason}}</span>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <span><a class="link" (click)="editDataBank(request)">
              <i class="fas fa-edit"></i> Alterar dados do parceiro</a>
            </span>
          </div>
          <div class="col-md-12">
            <button *ngIf="request.status_request_id == 'Aguardando'" class="btn btn-danger">Negar</button>
            <button *ngIf="request.status_request_id == 'Aguardando'" class="btn btn-success">Aprovar Solicitação</button>
            <button *ngIf="request.status_request_id == 'Aprovado'" class="btn btn-success">Marcar Pago</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>