<div class="content-wrapper">
    <breadcrumb [action]="breadcrumbAction" [module]="breadcrumbModule">
    </breadcrumb>
    
    <alert></alert>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <app-widgets></app-widgets>
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                        <div class="card-body">
                            <h5>Solicitações de Saque</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Saldo Disponível</h6>
                                        <span class="span-result">R$ {{salesTotal.salesApproved}}</span>
                                    </div>
                                </div>
                            </div>
                            <h5>Próxima remessa de saque</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="span-result">Você deve solicitar o saque até às 10hrs (horário de Brasilia, DF) de {{salesTotal.date}}
                                        <br>Após aprovado e confirmada a solicitação de saque você receberá o valor em {{salesTotal.date}}</p>
                                    </div>
                                </div>
                            </div>
                            <h5>Onde vou receber?</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Banco</h6>
                                        <span class="span-result">{{dataBank.bank_id}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 space-top">
                                        <h6>Agência</h6>
                                        <span class="span-result">{{dataBank.agency}}</span>
                                    </div>
                                    <div class="col-md-6 space-top">
                                        <h6>Número da Conta</h6>
                                        <span class="span-result">{{dataBank.checking_account}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 space-top">
                                        <h6>CPF/CNPJ do Titular</h6>
                                        <span class="span-result">{{dataBank.bank_id}}</span>
                                    </div>
                                    <div class="col-md-6 space-top">
                                        <h6>Tipo de Transferencia</h6>
                                        <span class="span-result">{{dataBank.bank_id}}</span>
                                    </div>
                                </div>
                            </div>
                            <!--
                                
                    <h4>Nota Fiscal de Serviço</h4>
                            -->
                            <button class="btn btn-sm btn-danger" title="Bloquear Parceiro" data-toggle="modal"
                                data-target="#modalTermSales">
                                <i class="fas fa-user-slash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-modal-term-sales [id]="'modalTermSales'"></app-modal-term-sales>
</div>