<div class="content-wrapper">
    <breadcrumb [action]="breadcrumbAction" [module]="breadcrumbModule">
    </breadcrumb>
    
    <alert></alert>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <app-widgets></app-widgets>
            <div class="row space-search">
                <div class="col-md-3">
                    <div class="input-icon">
                        <div>#</div>
                        <input [(ngModel)]="id" #ctrl="ngModel"  class="form-control input" placeholder="Número" autofocus >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-icon">
                        <div>S</div>
                        <select [(ngModel)]="status_request_id" #ctrl="ngModel" class="form-control input">
                            <option value="0">Todos</option>
                            <option *ngFor="let status of statusRequest;"
                                value="{{status.name}}">{{status.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-12 connectedSortable">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Número</th>
                                        <th style="width: 20%; text-align: center;">Data</th>
                                        <th style="width: 20%; text-align: center;">Status da Solicitação</th>
                                        <th style="width: 20%; text-align: right;">Valor da Comissão</th>
                                        <th style="width: 5%;"></th>
                                        <th style="width: 25%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let request of filterRequest() | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                                        <td>{{request.id}}</td>
                                        <td align="center">{{request.updated_at}}</td>
                                        <td align="center">
                                            <span class="status-request badge bg-{{request.color}}">{{request.status_request_id}}</span>
                                        </td>
                                        <td align="right">{{request.value}}</td>
                                        <td></td>
                                        <td *ngIf="request.status_request_id == 'Pago'" align="left">
                                            <a href="{{request.url_invoice}}" target="_new" class="link-download">
                                                <i class="fas fa-download"></i> Comprovante
                                            </a>
                                        </td>
                                        <td *ngIf="request.status_request_id == 'Negado'" align="left">
                                            <i class="fas fa-question-circle"></i> Motivo
                                        </td>
                                        <td *ngIf="request.status_request_id == 'Aguardando' || request.status_request_id == 'Aprovado'" align="center">

                                        </td>
                                    </tr>
                                    <tr *ngIf="!requests">
                                        <td colspan="6" class="text-center">
                                            <span class="spinner-border spinner-border-lg align-center"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <nav>
                        <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Próximo"
                            (pageChange)="paginaAtual = $event">
                        </pagination-controls>
                    </nav>
                    <!-- /.card -->
                </section>
                <!-- right col -->
            </div>
        </div>
    </section>
</div>