<div class="wrapper fadeInDown" data-color="orange">
  <!-- Icon -->
  <div class="fadeIn first">
      <img src="assets/logo-branco.webp" alt="Logo Easytoque"/>
  </div>
  <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Login Form -->
      <p>Entre com seu e-mail para recuperar sua senha</p>
      <form [formGroup]="form">
          <input type="text" id="email" class="fadeIn second" formControlName="email" placeholder="E-mail">
          <!--<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required"><i class="fas fa-times"></i> Campo é obrigatório</div>
              <div *ngIf="f.email.errors.email"><i class="fas fa-times"></i> E-mail inválido.</div>
          </div>-->
          <!--<div *ngIf="submitted && !f.password.errors && messageError != ''" class="invalid-feedback">
              <i class="fas fa-times"></i> Usuário ou senha inválidos.
          </div>-->
          <input type="submit" class="fadeIn fourth" value="Enviar">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
          <a class="underlineHover" routerLink="/login" href="#">Voltar</a>
      </div>
  </div>
</div>