<div class="content-wrapper">
    <breadcrumb [action]="breadcrumbAction" [module]="breadcrumbModule">
    </breadcrumb>
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-12 connectedSortable">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                  <span class="title">Dados da Solicitação:</span>
                                </div>
                                <div class="col-md-6">
                                  <span class="title">Dados para Pagamento:</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span class="subtitle">Valor</span>
                                </div>
                                <div class="col-md-6">
                                  <span class="subtitle">Banco</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span>{{value}}</span>
                                </div>
                                <div class="col-md-6">
                                  <span>{{bank_id}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span class="subtitle">Nota Fiscal</span>
                                </div>
                                <div class="col-md-6">
                                  <span class="subtitle">Agência</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span><a href="{{invoice}}" target="_blank">Baixar nota fiscal</a></span>
                                </div>
                                <div class="col-md-6">
                                  <span>{{agency}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span class="subtitle">Parceiro</span>
                                </div>
                                <div class="col-md-6">
                                  <span class="subtitle">Conta</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span>{{user_id}}</span>
                                </div>
                                <div class="col-md-6">
                                  <span>{{checking_account}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span class="subtitle">Documento</span>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span>{{cnpj}}</span>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span class="subtitle">Status</span>
                                </div>
                                <div class="col-md-6">
                                  <span *ngIf="status_request_id == 'Negado'" class="subtitle">Motivo</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <span>{{status_request_id}}</span>
                                </div>
                                <div class="col-md-6">
                                  <span *ngIf="status_request_id == 'Negado'">{{reason}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                  <span>
                                      <a class="link" routerLink="/partners/edit-bank-data/{{hash_id}}">
                                        <i class="fas fa-edit"></i> Alterar dados do parceiro
                                      </a>
                                  </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <button *ngIf="status_request_id == 'Aguardando'" class="btn btn-danger"
                                  data-toggle="modal" data-target="#modalReason" (click)="showModal()">
                                    Negar
                                  </button>
                                  <button *ngIf="status_request_id == 'Aguardando'" class="btn btn-success" 
                                  (click)="updateRequest()">
                                    Aprovar Solicitação
                                  </button>
                                  <button *ngIf="status_request_id == 'Aprovado'" class="btn btn-success" 
                                  data-toggle="modal" data-target="#modalUpload" (click)="showModalUpload()">
                                    Marcar Pago
                                  </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- right col -->
            </div>
        </div>
    </section>
    <app-modal-reason [id]="'modalReason'" [idRequest]="idRequest"
    [title]="title" [buttonCancel]="buttonCancel" [buttonConfirm]="buttonConfirm"
    (confirmReason)="confirmReason($event)"></app-modal-reason>

    <!-- Modal que confirma upload -->
    <app-modal-upload [id]="'modalUpload'" [idRequest]="idRequest"
    [title]="title" [buttonCancel]="buttonCancel" [buttonConfirm]="buttonConfirm"
    (confirmUpload)="confirmUpload($event)"></app-modal-upload>
</div>