<div class="content-wrapper">
  <breadcrumb [action]="breadcrumbAction" [module]="breadcrumbModule">
  </breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- form start -->
      <form class="form-login" [formGroup]="form" spellcheck="false">
        <div class="card">
          <div class="card-body login-card-body">
            <alert></alert>
            <div class="input-group mb-3 password">
              <input formControlName="password" type="password" class="form-control" placeholder="Nova Senha"
                autocomplete="new-password" [readonly]="loading" spellcheck="false" required maxlength="100">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3 confirm-password">
              <input formControlName="passwordConfirm" type="password" class="form-control"
                placeholder="Confirmar Senha" autocomplete="new-password" [readonly]="loading" spellcheck="false"
                autofocus required maxlength="100">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="form-inner-group alert-wrapper" *ngIf="(attemptedSubmit && form.invalid && form.dirty)">
              <div *ngIf="(form.invalid && form.dirty)">
                <ul class="alert alert-danger">
                  <li *ngIf="password.invalid && password.errors && password.errors.minlength">
                    <span>A nova senha deve ter </span>
                    <span> </span><span>{{ password.errors.minlength.requiredLength }}</span><span> </span>
                    <span> caracteres, mas possui apenas </span><span> </span><span>{{
                      password.errors.minlength.actualLength }}</span>
                  </li>

                  <li *ngIf="password.invalid && password.errors && password.errors.required">Nova Senha é obrigatória</li>
                  <li *ngIf="!password.invalid ">As novas senhas não conferem</li>
                </ul>
              </div>
            </div>
            <div class="form-inner-group alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
            <div class="form-inner-group alert alert-success" *ngIf="successfullySent">Sua senha foi alterada com
              sucesso. </div>
            <div class="form-inner-group actions">
              <button type="submit" class="btn btn-primary btn-block login btn-with-left-icon" (click)="onSubmitClick()"
                [disabled]="successfullySent">
                <i *ngIf="!loading" class="fa fa-key"></i>
                <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
                <span *ngIf="successfullySent"> Feito!</span>
                <span *ngIf="!successfullySent"> Atualizar</span>
              </button>
            </div>
          </div>
          <!-- /.login-card-body -->
        </div>
      </form>
    </div>
  </section>
</div>
