<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modalLabel">
          <strong>Dados do Responsável</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <span><strong>Nome: </strong></span>
          </div>
          <div class="col-md-6">
            <span><strong>E-mail: </strong></span>
          </div>
          <div class="col-md-6">
            <span>{{responsible.first_name}} {{responsible.last_name}}</span>
          </div>
          <div class="col-md-6">
            <span>{{responsible.email}} </span>
          </div>
          <div class="col-md-6">
            <span><strong>Status: </strong></span>
          </div>
          <div class="col-md-6">
            <span><strong>CPF: </strong></span>
          </div>
          <div class="col-md-6">
            <span>{{responsible.status_user_id}}</span>
          </div>
          <div class="col-md-6">
            <span>{{responsible.cpf}} </span>
          </div>
          <div class="col-md-6">
            <span><strong>Tel Fixo/ Celular: </strong></span>
          </div>
          <div class="col-md-6">
            <span><strong>Whatsapp: </strong></span>
          </div>
          <div class="col-md-6">
            <span>{{responsible.phone}} </span>
          </div>
          <div class="col-md-6">
            <span>{{responsible.whatsapp}} </span>
          </div>
          <div class="col-md-4 btn-send">
            <button class="btn btn-success" (click)="sendMailWelcome()">
              <i class="fas fa-mail-bulk"></i> 
              <span class="btn-icon-form"> E-mail Boas Vindas</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
